body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
  font-weight: 500;
  background-color: #57cc99;
  color: #c7f9cc;
}

nav a {
  color: #c7f9cc;
  font-weight: 500;
  text-decoration: none;
  margin: 0 10px;
}

input[type="number"],
select {
  margin: 3px;
  padding: 1vh 2vh;
}

input[type="text"] {
  width: 30vh;
}
button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h2,
h3 {
  margin: 0;
}

.filters {
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-items-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 3vh;
}

.cart-inside-elements-alignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
